<div id="<%= dom_id sale %>">
  <p>
    <strong>Event:</strong>
    <%= sale.event_id %>
  </p>

  <p>
    <strong>Ticket:</strong>
    <%= sale.ticket_id %>
  </p>

  <p>
    <strong>Revenue:</strong>
    <%= sale.revenue %>
  </p>

</div>
